<div class="parent">
	<mat-toolbar role="heading" color="primary" class="div1">
		<span>Rock - Paper - Scissors</span>
		<button *ngIf="showLogout" mat-icon-button (click)="logout()">
			<mat-icon color="accent">logout</mat-icon>
		</button>
	</mat-toolbar>

	<div class="div2">
		<router-outlet></router-outlet>
	</div>

	<div class="div3">
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>
        			WebSockets Console
        		</mat-panel-title>
        	</mat-expansion-panel-header>
			<app-connection-console></app-connection-console>
		</mat-expansion-panel>
	</div>
</div>
