<mat-card>
	<mat-card-header>
		<div mat-card-avatar>
			<mat-icon color="primary">home</mat-icon>
		</div>
		<mat-card-title>Room - {{room?.name}}</mat-card-title>
		<mat-card-subtitle>Players: {{room?.users[0]}}{{room?.users.length == 2 ? " - " : ""}}{{room?.users[1]}}</mat-card-subtitle>
	</mat-card-header>
	<mat-card-content>
		<app-game [game]="currentGame" [room]="room"></app-game>

		<app-previous-games [previousGames]="previousGames"></app-previous-games>

		<div class="create-game" *ngIf="!currentGame || currentGame.isFinished()">
			<div>
				<mat-form-field>
					<mat-label>Rounds</mat-label>
					<input matInput type="number" placeholder="number of rounds" [(ngModel)]="roundsForNemGame" required>
				</mat-form-field>
			</div>
			<button [disabled]="disabledCreateGame" (click)="createGame()" mat-raised-button color="primary">Start game</button>
		</div>
	</mat-card-content>
</mat-card>
