<mat-tab-group>
    <mat-tab label="Your Rooms">
        <mat-list>
            <mat-list-item *ngFor="let room of userRooms">
                {{room.name}}
                <button mat-button color="primary" [routerLink]="'room/' + room._id">Enter</button>
                <button mat-button color="warn" (click)="leaveRoom(room._id)">Leave</button>
            </mat-list-item>
        </mat-list>
    </mat-tab>
    <mat-tab label="Free Rooms">
        <mat-list>
            <mat-list-item *ngFor="let room of freeRooms">
                {{room.name}}
                <button mat-button color="primary" (click)="joinRoom(room._id)">Join</button>
            </mat-list-item>
        </mat-list>
    </mat-tab>
</mat-tab-group>
